.chat-container {
  @apply w-full max-w-[1120px] h-auto min-h-screen;
  @apply flex flex-col gap-4 mx-auto py-3;
}

.user-input {
  @apply w-full h-auto max-h-[150px];
  @apply flex items-center justify-between gap-4 py-2;
  @apply transition-all duration-300;
}

.user-input.inactive {
  @apply max-h-0 p-0 overflow-hidden;
}

.send {
  @apply hover:bg-orange-100 text-orange-500 transition-all;
  @apply flex items-center justify-center p-3 rounded-full;
}

.chat-messages {
  @apply w-full h-full flex-1 flex flex-col gap-4;
  @apply overflow-auto;
}

.ai-loader {
  @apply flex flex-col gap-2;
  @apply w-full py-2;
}

.ai-loader header {
  @apply w-full flex items-center gap-3;
}

.spinner {
  position: relative;
  width: 9.6px;
  height: 9.6px;
  left: 25px;
  top: 25px;
}

.spinner::before,
.spinner::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  animation: spinner-b4c8mmmn 0.6s backwards, spinner-49opz7mn 1.5s 0.6s infinite ease;
  border: 2.4px solid #474bff;
  border-radius: 50%;
  box-shadow: 0 -14.4px 0 -2.4px #474bff;
  position: absolute;
}

.spinner::after {
  animation-delay: 0s, 1.5s;
}

@keyframes spinner-b4c8mmmn {
  from {
    box-shadow: 0 0 0 -2.4px #474bff;
  }
}

@keyframes spinner-49opz7mn {
  to {
    transform: rotate(360deg);
  }
}

.share {
  @apply flex items-center justify-center gap-2;
  @apply py-2 px-4 w-[248px] rounded-sm bg-orange-400 font-semibold text-white;
  @apply cursor-pointer disabled:cursor-not-allowed disabled:bg-opacity-50;
}
